
.menu {
    background-color: hotpink;
    float: left;
}

.menu li ul {
    display: inline-block;

}




.titulo {
    font-size: 1em;
    padding: 3% 0% 1% 0%;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}

.titulo p {
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.todasLetras {
    display: inline;
}


footer {
    padding: 0;
    margin: 0;
    color: white;
    background: black;
    
}


footer p {
    padding: 2%;
}